{% extends 'base.html' %}

{% block my_css %}
{% endblock %}

{% block page_header %}
    Pradžia
{% endblock %}

{% block content %}

    {% if messages %}
        {% for message in messages %}
            <div class="callout callout-{{ message.tags }}" style="text-align: center">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}

     <div class="row">
        <div class="col-md-12">
            <h3 class="col-sm-12">Sveiki atvykę į turistų informacinę sistemą!</h3>
            <br><br><br>

            <div class="col-md-4 col-sm-12">
                <div class="info-box bg-yellow">
                    <span class="info-box-icon"><i class="fa fa-map-signs"></i></span>

                    <div class="info-box-content">
                      <span class="info-box-text">Lankytinų vietų<br>&nbsp;</span>
                      <span class="info-box-number">{{ visit_places_count }}</span>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-12">
                <div class="info-box bg-red">
                    <span class="info-box-icon"><i class="glyphicon glyphicon-star-empty"></i></span>

                    <div class="info-box-content">
                      <span class="info-box-text">Renginių<br>&nbsp;</span>
                      <span class="info-box-number">{{ events_count }}</span>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-12">
                <div class="info-box bg-green">
                    <span class="info-box-icon"><i class="fa fa-map"></i></span>

                    <div class="info-box-content">
                      <span class="info-box-text">Rekomenduojamų<br>maršrutų</span>
                      <span class="info-box-number">{{ recommended_tours_count }}</span>
                    </div>
                </div>
            </div>

{#            <div class="box-body col-sm-1"></div>#}
            <div class="box-body col-sm-12">
              <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                  <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                  <li data-target="#carousel-example-generic" data-slide-to="1" class=""></li>
                  <li data-target="#carousel-example-generic" data-slide-to="2" class=""></li>
                  <li data-target="#carousel-example-generic" data-slide-to="3" class=""></li>
                  <li data-target="#carousel-example-generic" data-slide-to="4" class=""></li>
                  <li data-target="#carousel-example-generic" data-slide-to="5" class=""></li>
                </ol>
                <div class="carousel-inner">
                  <div class="item active">
                    <img src="http://placehold.it/2000x1000/39CCCC/ffffff&amp;text=1.+Susikurkite+paskyrą" alt="First Slide">

                    <div class="carousel-caption">
                      Spauskite "Registracija" šoniniame meniu
                    </div>
                  </div>
                  <div class="item">
                    <img src="http://placehold.it/2000x1000/3c8dbc/ffffff&amp;text=2.+Susikurkite+maršrutą" alt="Second slide">

                    <div class="carousel-caption">
                        Prisijungus eikite į "Mano maršutai" ir spauskite "Naujas maršrutas"
                    </div>
                  </div>

                  <div class="item">
                    <img src="http://placehold.it/2000x1000/f39c12/ffffff&amp;text=3.+Išsirinkite+kur+keliauti" alt="Third slide">

                    <div class="carousel-caption">
                      "Lankytinos vietos" ir "Renginiai" lentelėse atsirinkite kas domintų
                    </div>
                  </div>

                  <div class="item">
                    <img src="http://placehold.it/2000x1000/83d045/ffffff&amp;text=4.+Suformuokite+maršrutą" alt="Fourth slide">

                    <div class="carousel-caption">
                      Pridėkite objektą prie maršruto nuėjus į detalų jo aprašą
                    </div>
                  </div>

                  <div class="item">
                    <img src="http://placehold.it/2000x1000/a428ed/ffffff&amp;text=5.+Susiplanuokite+kelią" alt="Fifth slide">

                    <div class="carousel-caption">
                      "Mano maršrutai" skiltyje spauskite "Rekomenduojamas kelias"
                    </div>
                  </div>

                  <div class="item">
                    <img src="http://placehold.it/2000x1000/dd2525/ffffff&amp;text=6.+Prireikus+pasitikslinkite" alt="Sixth slide">

                    <div class="carousel-caption">
                      Naudokite bet kada prireikus - tinklalapis pritaikytas ir mobiliesiems
                    </div>
                  </div>

                </div>
                <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                  <span class="fa fa-angle-left"></span>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                  <span class="fa fa-angle-right"></span>
                </a>
              </div>
            </div>
        </div>

     </div>

{% endblock %}