{% extends 'base.html' %}
{% load static %}
{% load tourist_extras %}

{% block my_css %}
    <style>

    .modal-content {
      max-width: 1000px;
    }

    .modal-content img {
      max-height: 100%;
      max-width: 100%;
    }

    .modal-escape {
        color:white;
        font-size: large;
        width: 26px;
        height: 26px;
        text-align: center;
        border: white solid 1px;
        float: right;
        cursor: pointer;
    }

    .modal {
        text-align: center;
    }

    .modal-dialog {
        display: inline-block;
        width:auto;
    }

    #hover-white:hover {
        background: #fff;
    }
    </style>

{% endblock %}

{% block my_js %}
    <script type="text/javascript" src="{% static 'ajax.js' %}"></script>

    <script>
        function addToTour() {
            var optionSelected = $("#tours").find("option:selected").val();
            var data = {'tour_pk': optionSelected, 'tour_object_pk': {{ visit_place.tour_object.pk }} };

            ajax("{% url 'app_tourist:add_object_to_tour' %}", data, function(result) {
                var tours = $("#tours");
                tours.find("option").remove();
                for (var i = 0; i < result.length; i++) {
                    for (var prop in result[i]){
                        tours.append('<option value="' + prop + '">'+ result[i][prop] +'</option>');
                    }
                }

                var addDone = $("#add-done");
                addDone.animate({ "opacity": "0.9" }, 1000, function(){
                    addDone.animate({ "opacity": "0" }, 700);
                });
            });
        }
    </script>
{% endblock %}

{% block page_header %}
    {{ visit_place.tour_object.title }}
{% endblock %}

{% block content %}

    {% if messages %}
        {% for message in messages %}
            <div class="callout callout-{{ message.tags }}" style="text-align: center">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}

    <div class="modal fade" id="main_photo" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalLabel">
       <div class="modal-dialog" role="document">
         <div class="modal-header" style="border: none;">
           <p class="modal-escape" data-dismiss="modal" aria-label="Close">
             <span aria-hidden="true">&times;</span>
           </p>
         </div>

         <div class="modal-content">
             <img class="img-responsive" src="{{ visit_place.tour_object.main_photo.url }}">
         </div>

         <div class="modal-footer" style="background-color: transparent; border: none;">
             <p style="color: #fff; text-align: center;">
                 {{ visit_place.tour_object.title }}
             </p>
         </div>
       </div>
    </div>

    <div class="row">
        <div class="col-md-6">
          <div class="box box-widget widget-user">
            <a data-toggle="modal" data-target="#main_photo" style="cursor:pointer;">
              <div class="widget-user-header bg-black" style="background: url('{{ visit_place.tour_object.main_photo.url }}') center center;">
                  <h3 class="widget-user-username">{{ visit_place.tour_object.title }}</h3>
                  <h5 class="widget-user-desc">
                    {% if visit_place.is_museum %}Muziejus&emsp;{% endif %}
                    {% if visit_place.is_park_or_square %}Parkas / Aikštė&emsp;{% endif %}
                    {% if visit_place.is_panorama %}Panorama&emsp;{% endif %}
                    {% if visit_place.is_monument %}Istorinis paminklas&emsp;{% endif %}
                    {% if visit_place.is_church%}Bažnyčia&emsp;{% endif %}
                    {% if visit_place.is_palace%}Dvaras / Pilis&emsp;{% endif %}
                    {% if visit_place.is_nature_object %}Gamtos objektas&emsp;{% endif %}
                  </h5>
              </div>
            </a>
            <div class="box-footer no-padding">
              <ul class="nav nav-stacked">
                <li>
                    <a>
                        <i class="fa fa-fw fa-map-pin"></i> Adresas
                        <span class="pull-right">
                            {{ visit_place.tour_object.place.address }}, {{ visit_place.tour_object.place.city }}
                        </span>
                    </a>
                </li>
                <li>
                    <a>
                        <i class="fa fa-fw fa-eur"></i> Pilno bilieto kaina
                        <span class="pull-right">
                            {{ visit_place.tour_object.ticket_price }}
                        </span>
                    </a>
                </li>
                <li>
                    <a>
                        <i class="fa fa-fw fa-external-link"></i> Daugiau informacijos
                        <div id="link" style="color: #3c8dbc; cursor: pointer; word-break: break-all;">
                            {{ visit_place.tour_object.link }}
                        </div>
                    </a>
                </li>
                <li>
                    <a>
                        <i class="fa fa-fw fa-clock-o"></i> Darbo laikas
                        {% if visit_place.always_available %}
                            <span class="pull-right">Prieinama visuomet</span>
                        {% else %}
                            <a id="hover-white" style="margin-left: 30px;">
                                <p>
                                    Pirmadienis
                                    <span class="pull-right">
                                    {% if visit_place.mondayWorkingHoursStart|is_midnight and visit_place.mondayWorkingHoursEnd|is_midnight %}
                                        Visą parą
                                    {% elif visit_place.mondayWorkingHoursStart and visit_place.mondayWorkingHoursEnd %}
                                        {{ visit_place.mondayWorkingHoursStart }} -
                                        {{ visit_place.mondayWorkingHoursEnd }}
                                    {% else %}
                                        Nedirba
                                    {% endif %}
                                    </span>
                                </p>
                                <p>
                                    Antradienis
                                    <span class="pull-right">
                                    {% if visit_place.tuesdayWorkingHoursStart|is_midnight and visit_place.tuesdayWorkingHoursEnd|is_midnight %}
                                        Visą parą
                                    {% elif visit_place.tuesdayWorkingHoursStart and visit_place.tuesdayWorkingHoursEnd %}
                                        {{ visit_place.tuesdayWorkingHoursStart }} -
                                        {{ visit_place.tuesdayWorkingHoursEnd }}
                                    {% else %}
                                        Nedirba
                                    {% endif %}
                                    </span>
                                </p>
                                <p>
                                    Trečiadienis
                                    <span class="pull-right">
                                    {% if visit_place.wednesdayWorkingHoursStart|is_midnight and visit_place.wednesdayWorkingHoursEnd|is_midnight %}
                                        Visą parą
                                    {% elif visit_place.wednesdayWorkingHoursStart and visit_place.wednesdayWorkingHoursEnd %}
                                        {{ visit_place.wednesdayWorkingHoursStart }} -
                                        {{ visit_place.wednesdayWorkingHoursEnd }}
                                    {% else %}
                                        Nedirba
                                    {% endif %}
                                    </span>
                                </p>
                                <p>
                                    Ketvirtadienis
                                    <span class="pull-right">
                                    {% if visit_place.thursdayWorkingHoursStart|is_midnight and visit_place.thursdayWorkingHoursEnd|is_midnight %}
                                        Visą parą
                                    {% elif visit_place.thursdayWorkingHoursStart and visit_place.thursdayWorkingHoursEnd %}
                                        {{ visit_place.thursdayWorkingHoursStart }} -
                                        {{ visit_place.thursdayWorkingHoursEnd }}
                                    {% else %}
                                        Nedirba
                                    {% endif %}
                                    </span>
                                </p>
                                <p>
                                    Penktadienis
                                    <span class="pull-right">
                                    {% if visit_place.fridayWorkingHoursStart|is_midnight and visit_place.fridayWorkingHoursEnd|is_midnight %}
                                        Visą parą
                                    {% elif visit_place.fridayWorkingHoursStart and visit_place.fridayWorkingHoursEnd %}
                                        {{ visit_place.fridayWorkingHoursStart }} -
                                        {{ visit_place.fridayWorkingHoursEnd }}
                                    {% else %}
                                        Nedirba
                                    {% endif %}
                                    </span>
                                </p>
                                <p>
                                    Šeštadienis
                                    <span class="pull-right">
                                    {% if visit_place.saturdayWorkingHoursStart|is_midnight and visit_place.saturdayWorkingHoursEnd|is_midnight %}
                                        Visą parą
                                    {% elif visit_place.saturdayWorkingHoursStart and visit_place.saturdayWorkingHoursEnd %}
                                        {{ visit_place.saturdayWorkingHoursStart }} -
                                        {{ visit_place.saturdayWorkingHoursEnd }}
                                    {% else %}
                                        Nedirba
                                    {% endif %}
                                    </span>
                                </p>
                                <p>
                                    Sekmadienis
                                    <span class="pull-right">
                                    {% if visit_place.sundayWorkingHoursStart|is_midnight and visit_place.sundayWorkingHoursEnd|is_midnight %}
                                        Visą parą
                                    {% elif visit_place.sundayWorkingHoursStart and visit_place.sundayWorkingHoursEnd %}
                                        {{ visit_place.sundayWorkingHoursStart }} -
                                        {{ visit_place.sundayWorkingHoursEnd }}
                                    {% else %}
                                        Nedirba
                                    {% endif %}
                                    </span>
                                </p>
                            </a>
                        {% endif %}
                    </a>
                </li>
                <li>
                    <a>
                        <i class="fa fa-fw fa-refresh"></i> Atnaujinta
                        <span class="pull-right">
                            {{ visit_place.tour_object.last_update|date:'Y-m-d H:i' }}
                        </span>
                    </a>
                </li>
                {% if request.user.is_authenticated %}
                <li>
                    <a>
                        <i data-toggle="tooltip" class="fa fa-fw fa-info-circle"
                            title="Lankytinos vietos / renginio pridėjimas prie maršruto. Jeigu pasirinkimuose nerandate
                                kurio maršruto, vadinasi prie jo šis objektas jau yra pridėtas.">
                        </i>
                        <select name="tours" id="tours" class="col-sm-4">
                            {% for tour in tours %}
                                <option value="{{ tour.pk }}" {% if forloop.counter == 1 %}selected{% endif %}>
                                    {{ tour.title }}
                                </option>
                            {% endfor %}
                        </select>
                        <div class="pull-right">
                            <h3 style="opacity: 0; display: inline;" id="add-done"><i class="fa fa-check text-success pull-left"></i></h3>
                            <button class="btn btn-default btn-sm" onclick="addToTour()">Pridėti</button>
                        </div>
                    </a>
                </li>
                {% endif %}
                <li>
                    <a style="height: 44px;">
                        <i class="fa fa-fw fa-commenting-o"></i> Nuomonės
                        <div class="pull-right">
                            <button onclick="location.href='{% url "app_opinions:opinions" visit_place.tour_object.pk %}';"
                                    class="btn btn-default btn-sm">
                                <span style="color: #c9302c; font-size: 12px; font-weight: bold;">({{ opinions_count }})
                                </span>
                            </button>
                        </div>
                    </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
            {% if images %}
            <div class="col-md-6">
              <div class="box box-solid">
                <div class="box-header with-border">
                  <h3 class="box-title">Daugiau nuotraukų</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                  <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        {% for img in images %}
                            <li data-target="#carousel-example-generic" data-slide-to="{{ forloop.counter0 }}"
                                {% if forloop.counter0 == 0 %}
                                    class="active"
                                {% endif %}
                            >
                            </li>
                        {% endfor %}
                    </ol>
                    <div class="carousel-inner">
                      {% for img in images %}
                        <div class="item {% if forloop.counter0 == 0%}active{% endif %}">
                          <img style="max-height: 350px;"
                                  class="img-responsive center-block" src="{{ img.image.url }}">
                        </div>
                      {% endfor %}
                    </div>
                    <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                      <span class="fa fa-angle-left"></span>
                    </a>
                    <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                      <span class="fa fa-angle-right"></span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            {% endif %}
    </div>

        {% if events %}
          <div class="row">
            <div class="col-md-12">
              <div class="box box-solid">
                <div class="box-header with-border">
                  <h3 class="box-title">Čia vyksiantys renginiai</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body table-responsive">
                  <table class="table table-bordered">
                      <thead>
                        <tr>
                          <th>#</th>
                          <th>Pavadinimas</th>
                          <th>Kaina</th>
                          <th>Pradžia</th>
                          <th>Pabaiga</th>
                          <th>Daugiau informacijos</th>
                        </tr>
                      </thead>
                      <tbody>
                      {% for ev in events %}
                        <tr>
                            <th scope="row">{{ forloop.counter }}</th>
                            <td>
                                <a href="{% url 'app_tourist:review_event' ev.pk %}">{{ ev.tour_object.title }}</a>
                            </td>
                            <td>
                                {% if ev.min_ticket_price %}
                                    {{ ev.min_ticket_price }} - {{ ev.tour_object.ticket_price }}
                                {% else %}
                                    {{ ev.tour_object.ticket_price }}
                                {% endif %}
                            </td>
                            <td>{{ ev.event_date|date:'Y-m-d H:i' }}</td>
                            <td>{{ ev.event_end_date|date:'Y-m-d H:i' }}</td>
                            <td>
                                <a href="{{ ev.tour_object.link }}">
                                    {{ ev.tour_object.link }}
                                </a>
                            </td>
                        </tr>
                      {% endfor %}
                      </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        {% endif %}

    <div class="row">
        <div class="col-sm-12">
            <div class="box box-solid">
                <div class="box-header with-border">
                  <h3 class="box-title">Bendra informacija</h3>
                </div>
                <div class="box-body">
                    {% for par in visit_place.tour_object.extra_info|by_paragraphs %}
                        <p>{{ par }}</p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="box box-solid">
                <div class="box-header with-border">
                  <h3 class="box-title">Kur ieškoti?</h3>
                </div>
                <div class="box-body">
                    <div id="map" style="width: 100%; height: 600px;"></div>

                    <div class="form-group" style="margin-top: 10px; display: inline-block;">
                        <label for="transport"></label>
                        <select name="transport" id="transport" style="width: 200px;">
                            <option value="DRIVING" selected>Automobilis</option>
                            <option value="WALKING">Pėsčiomis</option>
                            <option value="BICYCLING">Dviratis</option>
                            <option value="TRANSIT">Viešasis transportas</option>
                        </select>
                    </div>
                    <div class="form-group" style="margin-top: 10px; margin-left: 4px; display: inline-block;">
                        <button class="btn btn-sm btn-default" id="get-directions">
                            Gauti nuorodas
                        </button>
                    </div>
                    <script>

                        var address = "{{ visit_place.tour_object.place.address }} " +
                            "{{ visit_place.tour_object.place.city }} " + "{{ visit_place.tour_object.place.title }}";
                        var marker = null;

                        function initMap() {

                          var directionsService = new google.maps.DirectionsService;
                          var directionsDisplay = new google.maps.DirectionsRenderer;
                          var geocoder = new google.maps.Geocoder();

                          geocoder.geocode({'address': address}, function(results, status){
                              if (status === google.maps.GeocoderStatus.OK) {
                                  var latitude = parseFloat(results[0].geometry.location.lat());
                                  var longitude = parseFloat(results[0].geometry.location.lng());

                                  var initPlace = {lat: latitude, lng: longitude};
                                  var map = new google.maps.Map(document.getElementById('map'), {
                                      zoom: 15,
                                      center: initPlace
                                  });
                                  directionsDisplay.setMap(map);

                                  var onChangeHandler = function() {
                                    calculateAndDisplayRoute(directionsService, directionsDisplay);
                                  };
                                  document.getElementById('get-directions').addEventListener('click', onChangeHandler);
{#                                  document.getElementById('transport').addEventListener('click', onChangeHandler);#}

                                  marker = new google.maps.Marker({
                                      position: initPlace,
                                      map: map,
                                      title: "{{ visit_place.tour_object.title }}\n" +
                                        "{{ visit_place.tour_object.place.address }}, " +
                                        "{{ visit_place.tour_object.place.city }}"
                                  });
                              }
                          });
                        }

                          function calculateAndDisplayRoute(directionsService, directionsDisplay) {
                              if (navigator.geolocation) {
                                  navigator.geolocation.getCurrentPosition(function(position) {
                                      var pos = {
                                          lat: parseFloat(position.coords.latitude),
                                          lng: parseFloat(position.coords.longitude)
                                      };

                                      if (marker !== null || marker !== undefined) marker.setMap(null);

                                      directionsService.route({
                                          origin: pos,
                                          destination: address,
                                          travelMode: document.getElementById('transport').value
                                      }, function(response, status) {
                                          if (status === 'OK') {
                                              directionsDisplay.setDirections(response);
                                          } else {
                                              window.alert('Tokio maršruto nerandama..');
                                          }
                                      });
                                  });
                              }
                          }

                    </script>
                    <script async defer
                        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAgGtHQYaLqrZ6eOo3NdMShGVUsXzqt9KM&callback=initMap">
                    </script>
                </div>
            </div>
        </div>
    </div>

    <script>
    $(document).ready( function () {
        $("#transport, #tours").select2({'minimumResultsForSearch': -1});

        $('.select2-arrow').append('<i class="fa fa-angle-down"></i>');
        document.getElementById("link").onclick = function(){
            window.location.href = "{{ visit_place.tour_object.link }}";
        };

        $('.carousel').carousel({
            interval: false
        }).on('slide.bs.carousel', function (e) {
            var nextH = $(e.relatedTarget).height();
            $(this).find('.active.item').parent().animate({
                height: nextH
            }, 250);
        });
    });
    </script>
{% endblock %}