{% extends 'base.html' %}
{% load static %}
{% load tourist_extras %}

{% block my_css %}
{% endblock %}

{% block my_js %}
    <script type="text/javascript" src="{% static 'ajax.js' %}"></script>
    <script>
        function removeTourObject(pk, tour_pk) {

            var data = {'tour_pk': tour_pk, 'tour_object_pk': pk};

            ajax("{% url 'app_tourist:remove_object_from_tour' %}", data, function(result) {
                $("#tr-" + tour_pk + "-" + pk).fadeOut(250);
            });
        }
    </script>
{% endblock %}

{% block page_header %}
    {% if mine %}Mano maršrutai{% else %}Rekomenduojami maršrutai{% endif %}
{% endblock %}

{% block content %}

    {% if messages %}
        {% for message in messages %}
            <div class="callout callout-{{ message.tags }}" style="text-align: center">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}

    {% if mine %}
        <div class="modal fade" id="new-tour" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="exampleModalLabel">Pridėti naują maršrutą</h4>
                </div>

                <form method="post" action="{% url 'app_tourist:create_tour' %}">
                {% csrf_token %}

                  <div class="form-group col-sm-12">
                    <div class="box-body">
                        <label for="tour_name" class="pull-left control-label">Maršruto pavadinimas</label>
                        <input class="form-control" id="tour_name" name="tour_name" maxlength="50">
                    </div>
                  </div>

                  <div class="modal-footer">
                    <div class="pull-left">
                        <button class="btn btn-success" type="submit"><i class="fa fa-fw fa-check"></i> Sukurti</button>
                    </div>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Atšaukti</button>
                  </div>
                </form>
            </div>
          </div>
        </div>
    {% endif %}

    {% if mine %}
        <h3 style="margin-bottom: 5px;">
            <i class="fa fa-fw fa-map-o"></i> Mano maršrutai
        </h3>
        <h3 style="margin-bottom: 15px;">
            <button class="btn btn-success" data-toggle="modal" data-target="#new-tour">
                <i class="fa fa-fw fa-plus"></i> Naujas maršrutas
            </button>
        </h3>
    {% else %}
        <h3>
            <i class="fa fa-fw fa-map-o"></i> Rekomenduojami maršrutai
        </h3>
    {% endif %}

    {% for tour in toursList %}

    <div class="modal fade" id="delete-tour-{{ tour.pk }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="exampleModalLabel">Ar tikrai norite ištrinti {{ tour.title }} maršrutą?</h4>
            </div>

            <form method="post" action="{% url 'app_tourist:delete_tour' tour.pk %}">
            {% csrf_token %}

              <div class="modal-footer">
                <div class="pull-left">
                    <button class="btn btn-danger" type="submit"><i class="fa fa-fw fa-remove"></i> Ištrinti</button>
                </div>
                <button type="button" class="btn btn-default" data-dismiss="modal">Atšaukti</button>
              </div>
            </form>
        </div>
      </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">{{ tour.title }}</h3>
                    {% if mine %}
                        <button class="btn btn-danger pull-right" data-toggle="modal" data-target="#delete-tour-{{ tour.pk }}">
                            <i class="glyphicon glyphicon-trash"></i>
                        </button>
                    {% endif %}
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table class="table table-bordered">
                        <tbody>
                            {% for to in tour.tour_objects.all %}
                            <tr id="tr-{{ tour.pk }}-{{ to.pk }}">
                                {% if mine %}
                                    <td style="vertical-align: middle; horiz-align: center; width: 30px;">
                                        <a onclick="removeTourObject({{ to.pk }}, {{ tour.pk }})" style="cursor: pointer;">
                                            <i class="fa fa-remove" style="color: #F80000;"></i>
                                        </a>
                                    </td>
                                {% endif %}
                                <td>
                                    <a
                                        {% if to.pk|tour_object_type  == "v" %}
                                            href="{% url 'app_tourist:review_visitplace' to.pk %}"
                                        {% else %}
                                            href="{% url 'app_tourist:review_event' to.pk %}"
                                        {% endif %}
                                    >{{ to.title }}</a>
                                </td>
                                <td>{{ to.place.address }}, {{ to.place.city }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <a
                        {% if mine %}
                            href="{% url 'app_tourist:review_tour' tour.pk %}"
                        {% else %}
                            href="{% url 'app_tourist:review_rec_tour' tour.pk %}"
                        {% endif %}
                         style="margin-top: 5px;"
                        class="btn btn-default btn-sm">Rekomenduojamas kelias
                    </a>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}

{% endblock %}