{% extends 'base.html' %}

{% block my_css %}
{% endblock %}

{% block page_header %}
    Lankytinos vietos
{% endblock %}

{% block content %}

    {% if messages %}
        {% for message in messages %}
            <div class="callout callout-{{ message.tags }}" style="text-align: center">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}

     <div class="box box-primary">

        <div class="box-header with-border">
            <h3 class="box-title"><i class="fa fa-fw fa-map-signs"></i> Lankytinos vietos</h3>
        </div>

        <div class="box-body">

        </div>
     </div>

{% endblock %}