{% load i18n %}
{% load staticfiles %}

<aside class="main-sidebar">

    <section class="sidebar">
        <ul class="sidebar-menu">

            {% if user.is_superuser %}
                <li class="header info" style="font-size: 10pt;">Administratoriui</li>
                <li>
                    <a href="{% url 'admin:index' %}">
                        <i class="fa fa-fw fa-gears"></i> <span> Administravimas</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'app_opinions:newest_opinions' %}">
                        <i class="fa fa-fw fa-newspaper-o"></i> <span> Naujausios nuomonės</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'app_tourist:address_checking' %}">
                        <i class="fa fa-fw fa-support"></i> <span> Adresų tikrinimas</span>
                    </a>
                </li>
            {% endif %}


            <li class="header info" style="font-size: 10pt;">Naudotojo meniu</li>
            <li><a href="{% url 'app_tourist:visit_places' %}">
                <i class="fa fa-fw fa-map-signs"></i> <span> Lankytinos vietos</span></a>
            </li>
            <li><a href="{% url 'app_tourist:events' %}">
                <i class="fa-fw glyphicon glyphicon-star-empty"></i> <span> Renginiai</span></a>
            </li>
            <li><a href="{% url 'app_tourist:recommended_tours' %}">
                <i class="fa fa-fw fa-map"></i> <span> Rekomenduojami maršrutai</span></a>
            </li>

            {% if request.user.is_authenticated %}
            <li><a href="{% url 'app_tourist:my_tours' %}">
                <i class="fa fa-fw fa-map-o"></i> <span> Mano maršrutai</span></a>
            </li>
            {% endif %}


            <li class="header info" style="font-size: 10pt;">Paskyra</li>
            {% if request.user.is_anonymous %}
                <li>
                    <a href="{% url 'app_auth:login' %}">
                        <span class="">Prisijungimas</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'app_auth:register' %}">
                        <span class="">Registracija</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'app_auth:forgot_password' %}">
                        <span class="">Pamiršau slaptažodį</span>
                    </a>
                </li>
            {% else %}
                <li>
                    <a href="{% url 'app_auth:change_password' %}">
                        <span class="">Keisti slaptažodį</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'app_auth:logout' %}">
                        <span class="">Atsijungti</span>
                    </a>
                </li>
            {% endif %}

        </ul>
    </section>

</aside>


<style>
    .submenu-item-light {
        background-color: #F9FAFC;
    }

    .submenu-item-dark {
        background-color: #222d32;
    }

</style>

<script>
    $( document ).ready(function() {

      var body = document.getElementsByTagName("body")[0];
      var sidebar = document.getElementsByClassName("control-sidebar")[0];

      if(hasClass(body, "skin-blue-light") && hasClass(sidebar, "control-sidebar-dark")) {
          body.className = "sidebar-mini skin-blue";
      }

      sidebar = $(".control-sidebar");
      var submenuItem = $(".submenu-item");

      if (sidebar.hasClass("control-sidebar-light")) {
        submenuItem.removeClass("submenu-item-dark");
        submenuItem.addClass("submenu-item-light");
      } else {
        submenuItem.removeClass("submenu-item-light");
        submenuItem.addClass("submenu-item-dark");
      };
    });

    function hasClass(element, cls) {
        return (' ' + element.className + ' ').indexOf(' ' + cls + ' ') > -1;
    }
</script>