{% load i18n %}
{% load staticfiles %}

<!-- Main Header -->
<header class="main-header">

    <!-- Logo -->
    <a href="{% url 'app_tourist:index' %}" class="logo">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg"><b>Turizmo&nbsp;</b>sistema</span>
        <span class="logo-mini"><b>TS</b></span>
    </a>

    <!-- Header Navbar -->
        <nav class="navbar navbar-static-top" role="navigation" style="height: 50px;">

            <!-- Sidebar toggle button-->
            <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                <span class="sr-only">Toggle navigation</span>
            </a>
            <!-- Navbar Right Menu -->
            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
<!-- Messages: style can be found in dropdown.less-->


            <li>
                <a href="#" >
                    <span class="">Atsijungti</span>
                </a>
            </li>
        <li>
            <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
        </li>

        </ul>
    </div>

    </nav>

</header>