{% extends 'base.html' %}
{% load static %}
{% load opinions_extras %}

{% block my_css %}
    <style>
        .opinion-text {
            padding-right: 20px;
            word-wrap: break-word;
            overflow: visible;
            margin-left: 35px;
        }

        .bg-inactive {
            color: #fff;
            background-color: #dbdbdb;
        }

        .bg-inactive:hover {
            color: #fff;
        }
    </style>
{% endblock %}

{% block my_js %}
    <script type="text/javascript" src="{% static 'ajax.js' %}"></script>
    <script>

        function vote(opinion_pk, vote_type) {
            var data = {'opinion': opinion_pk, 'vote': vote_type};
            ajax("{% url 'app_opinions:vote_for_opinion' %}", data, function(result) {
                var counter = $("#" + vote_type + "-" + opinion_pk);
                var counterValue = parseInt(counter.text()) + 1;
                counter.html(counterValue);

                var upvoteDiv = $("#p1-" + opinion_pk);
                upvoteDiv.attr('style', '');
                upvoteDiv.parent().attr('onclick', '');

                var downvoteDiv = $("#p0-" + opinion_pk);
                downvoteDiv.attr('style', 'margin-left: 10px;');
                downvoteDiv.attr('onclick', '');
            });
        }

    </script>
{% endblock %}

{% block page_header %}
    Nuomonės {{ tour_object.title }}
{% endblock %}

{% block content %}

    {% if form.errors %}
        <div class="alert alert-error">
            <strong>
                {% for error in form.errors %}
                    {% if error == 'captcha' %}
                        Blogai įvestas CAPTCHA
                    {% endif %}
                {% endfor %}
            </strong>
        </div>
    {% endif %}

    {% if form.non_field_errors %}
        <div class="alert alert-error">
            <strong>{% for i in form.non_field_errors %}{{ i }}{% endfor %}</strong>
        </div>
    {% endif %}

    <div class="row">
        <div class="col-sm-12">
            <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">{{ tour_object.title }} - Nuomonės ({{ order_by }})</h3>
              <div class="row" style="margin-top: 14px; font-weight: bold; ">
                <div class="col-sm-12">
                  {% with tour_object.pk as pk %}
                    <a href="{% url 'app_opinions:opinions' pk 'naujausios' %}">Naujausios</a>&emsp;
                    <a href="{% url 'app_opinions:opinions' pk 'geriausios' %}">Geriausios</a>&emsp;
                    <a href="{% url 'app_opinions:opinions' pk 'blogiausios' %}">Blogiausios</a>
                  {% endwith %}
                </div>
              </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              {% if not opinionsList %}
                <h5>Komentarų nėra</h5>
              {% endif %}
              <ul class="products-list product-list-in-box">
                  {% for opinion in opinionsList %}
                    <li class="item">
                      <div class="product-img" style="margin-right: 15px;">
                          <p>
                            {% with opinion.mark as mark %}
                              <i style="vertical-align: top; font-size: 30px; margin-top: 0"
                                 {% if mark == '2' %}class="fa-fw glyphicon glyphicon-thumbs-up text-green"
                                 {% elif mark == '1' %}class="fa-fw glyphicon glyphicon-hand-right text-yellow"
                                 {% elif mark == '0' %}class="fa-fw glyphicon glyphicon-thumbs-down text-red"
                                 {% endif %}
                              ></i>
                            {% endwith %}
                          </p>
                      </div>
                      <div class="product-info" style="margin-left: 20px;">
                        <a style="cursor: default;" class="product-title">{{ opinion.user.username }}
                        </a>
                        <span class="opinion-text">
                          <br>
                          {% for par in opinion.comment|by_paragraphs %}
                              <p class="opinion-text">{{ par }}</p>
                          {% endfor %}

                          <div class="pull-left" style="margin-left:32px;">
                            {% with opinion|opinion_votes:votesList as opinion_votes %}
                            {% with opinion_votes|i_did_not_vote:request.user.pk as not_voted %}

                              <div id="p0-{{ opinion.pk }}" class="pull-right text-red"
                                   {% if not_voted %} style="margin-left: 10px; cursor: pointer;" onclick="vote({{ opinion.pk }}, '0')"
                                   {% else %} style="cursor: default; margin-left: 10px;"{% endif %}
                                  ><i class="fa fa-fw fa-thumbs-down" style="font-size: 16px;"></i>
                                  <span id="0-{{ opinion.pk }}" style="font-size:17px;">{{ opinion_votes|get_votes:'0' }}</span>
                              </div>
                              <div id="p1-{{ opinion.pk }}" class="pull-right text-green"
                                   {% if not_voted %} style="cursor: pointer;" onclick="vote({{ opinion.pk }}, '1')"
                                   {% else %} style="cursor: default;"{% endif %}
                                  ><i class="fa fa-fw fa-thumbs-up" style="font-size: 16px;"></i>
                                  <span id="1-{{ opinion.pk }}" style="font-size:17px;">{{ opinion_votes|get_votes:'1' }}</span>
                              </div>

                            {% endwith %}
                            {% endwith %}
                          </div>

                          <p style="color: #777; padding-right: 20px;" class="opinion-text pull-right">
                              {{ opinion.date_posted|date:'Y-m-d H:i' }}
                          </p>
                        </span>
                      </div>
                    </li>
                  {% endfor %}
              </ul>
            </div>
          </div>
        </div>
    </div>

    {% include "forms/opinion_form.html" %}

{% endblock %}