{% extends 'base.html' %}
{% load widget_tweaks %}

{% block my_css %}

{% endblock %}

{% block my_js %}
{% endblock %}

{% block page_header %}

    Keisti slaptažodį

{% endblock %}

{% block content %}

    {% if messages %}
        {% for message in messages %}
            <div class="callout callout-{{ message.tags }}" style="text-align: center">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}

    <form method="post" enctype="multipart/form-data" action="">
        {% csrf_token %}

        {% if form.non_field_errors %}
            <div class="alert alert-error">
                <strong>{% for i in form.non_field_errors %}{{ i }}{% endfor %}</strong>
            </div>
        {% endif %}

        <div class="box box-primary">

            <div class="box-header with-border">
                <h3 class="box-title"><i class="fa fa-fw ion-ios-color-wand"></i> Keisti slaptažodį</h3>
            </div>

            <div class="box-body">

                <div class="row">
                    <div class="form-group col-sm-5">
                        <label for="old_psw" class="control-label">Senas slaptažodis</label>
                        <input type="password" class="form-control" name="old_psw">
                    </div>
                </div>
                <hr>

                <div class="row">
                    <div class="form-group col-sm-5">
                        <label for="new_psw" class="control-label">Naujas slaptažodis</label>
                        <input type="password" class="form-control" name="new_psw">
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-sm-5">
                        <label for="new_psw2" class="control-label">Pakartoti naują slaptažodį</label>
                        <input type="password" class="form-control" name="new_psw2">
                    </div>
                </div>

                <button class="btn btn-success" style="float: right;"><i class="fa fa-fw fa-check"></i> Keisti</button>
            </div>
        </div>

    </form>

{% endblock %}